* {
  box-sizing: border-box;
}

body {
   background: url(pattern.png);
  background-repeat: repeat;
  background-attachment: fixed;
  overflow: hidden;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
#character {
	background-color: rgba(0, 250, 250, 0.5);
	position: absolute;
	margin-left: 45%;
	margin-top: 20%;
	width: 50px;
	height: 50px;
	border-radius: 100%;
	border-width: 5px;
	border-color: red;
	z-index: 9;
}
#main {
  padding-top: 60px;
  margin: 0 auto;
}

@import 'directives/main';
@import 'home/main';
@import 'about/main';
@import 'tutorial/main';
@import 'login/main';
